*{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div, nav, footer{
    margin: 0 11vw;
    
    padding: 0;
    
    font-family: Mulish;

    
   
    max-width: 3000px;
    
    
}

nav{
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 53px;
    

}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    right: 60px;
    gap: 10px;
    position: relative;
    right: 170px;
    flex-wrap: wrap;
    
}

.logo h2{
    display: flex;
    flex-direction: row;
    gap: 10px;


}

nav > ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.sec1{
    margin-top: 50px;
    background:  linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('Images/Group\ 13\ \(1\)\ \(1\).png');
    height: 500px;
    background-size: 1200px 500px;
    background-position: center; 
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    
    
    

}

.banner-text{
    margin-bottom: 50px;
    line-height: 40px;
}

.banner-form{
    
    
    background: rgba(255, 255, 255, 0.30);
    left: 10%;
    margin: 0 150px;
    
    
}

.banner-form form{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     padding: 30px;
     justify-content: space-around;
      
}

.banner-form form input{
    width: 174px;
    height: 32px;
    border-radius: 8px;
    background: #FFF;
    border-color: transparent;
    color: rgba(19, 19, 24, 0.50);

    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.banner-form form select{
    width: 174px;
    height: 32px;
    border-radius: 8px;
    background: #FFF;
    border-color: transparent;

    color: rgba(19, 19, 24, 0.50);

    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.banner-form form button{
    width: 174px;
    height: 32px;
    border-radius: 8px;
    background: #FF5400;
    border-color: transparent;
    color: rgba(19, 19, 24, 0.50);

    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.sec2{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
    
}

.sec2-texts{
    
    right: 170px;
    margin-right: -50px;
    text-align: justify;
    margin-bottom: 80px;
    
    
  
    
}

.sec2-texts h1{
   font-weight: 800;  color: #131318; font-size: 40px;
}

.sec2-texts p, .sec2-texts ul{
    color: rgba(19, 19, 24, 0.70);

    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    
}
.sec2 ul{
   list-style-type: square;
}

.button-container{
    position: relative;
    left: -170px;
    justify-content: flex-start;
}

.button-container button{
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;

    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}


.sec3{
    margin-top: 50px;
    
}

.sec3-texts{
    align-items: center;
}

.sec3-pics{
    margin-top: 50px;
    
    display: grid;
    
    align-content: stretch;
    row-gap: 10px;
    
}
.row1{
    
    display: grid;
    justify-content: start;
    grid-template-columns: 500px 500px;
    grid-template-rows: 300px;
    column-gap: 80px;
    
    

}

.row1-text{
    color: white;
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 500px;
    margin-top: 110px;
}


.row2-text{

    color: white;
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 230px;
    margin-top: 111px;
    margin-right: 40px;
}





.Maldives{
   
    margin-left: 50px;
    
}

.Indonesia{
    position: absolute;
    margin-left: 1200px;
    
}



.Bandorban{

    position: absolute;
    margin-left: 1150px;

}

.row2{
    display: grid;
    justify-content: start;
    
    grid-template-columns: 300px 420px 200px;
    justify-items: start;
    grid-template-rows: 300px;
    column-gap: 80px;
   
    
   
}

.row3{
    display: grid;
    justify-content: start;
    grid-template-columns: 400px 700px ;
    grid-template-rows: 300px;
    column-gap: 80px;
   
}

.row1 img{
    width: 573px;
    height: 300px;
}


.sec4{
    margin-top: 50px;
}

.sec4-texts{
    align-items: center;
}




.card{
    width: 500px;
    height: 200px;
    border-radius: 16px;
    text-align: left;
    padding: 12px;
    border-radius: 16px;

}



.sec4-texts{
    align-items: center;
}

.sec4-cards{
    margin-top: 50px;
    
    display: grid;
    
    align-content: stretch;
    row-gap: 10px;
    column-gap: 10px;
    
}
.row-first{
    
    display: grid;
    justify-content: start;
    grid-template-columns: 400px  400px  300px;
    grid-template-rows: 250px;
    column-gap: 150px;
    
    
    
    
    

}

.row-second{
    display: grid;
    justify-content: center;
    
    grid-template-columns: 0px 550px 0px;
    justify-items: start;
    grid-template-rows: 300px;
    column-gap: 80px;
   
    
   
}



.sec5{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
    
}

.sec5-texts{
    
    right: 170px;
    margin-right: -50px;
    text-align: justify;
    margin-bottom: 80px;
    
    
  
    
}

.sec5-texts h1{
   font-weight: 800;  color: #131318; font-size: 40px;
}

.sec5-texts p, .sec5-texts ul{
    color: rgba(19, 19, 24, 0.70);

    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    
}
.sec5 ul{
   list-style-type: square;
}

.button-container{
    position: relative;
    left: -170px;
    justify-content: flex-start;
}

.button-container button{
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;

    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.sec5 h2{
    
    
    color: white;
    text-align: center;
    margin-left: 130px;
    position: absolute;
    width: 300px;
}



.surprise{
    background: url("Images/suitcase.png") no-repeat;
    width: 600px;
    height: 600px; 
    background-position: center;
    transition: 1s;

}


.surprise:hover{
    background: url("Images/offer2.jpg") no-repeat, url("Images/offer3.jpg") no-repeat,  url("Images/offer4.jpg") no-repeat;
    width: 1100px;
    height: 600px; 
    background-position: 2px 100px, 380px 100px, 750px 100px;
    
    background-size: 350px 350px, 350px 350px, 350px 350px;


}




.sec6{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
    
}

.sec6-texts{
    width: 474px;
height: 422px;
    right: 170px;
    margin-right: -50px;
    text-align: justify;
    margin-bottom: 80px;
    border-radius: 16px;
border: 1px solid #FF5400;
padding: 50px;
    
    
  
    
}

.sec6-texts h1{
   font-weight: 800;  color: #131318; font-size: 40px;
}

.sec6-texts p{
    color: rgba(19, 19, 24, 0.70);

    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    
}

.sec6 hr{
    width: 500px;
    height: 1px;
    color: rgba(19, 19, 24, 0.10);
    margin-left: 5px;

}


.sec6 form{
    gap: 10px;
    margin-bottom: 50px;
}

.sec6 form input{
    width: 393px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
color: rgba(19, 19, 24, 0.30);
border-color: transparent;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;


}


.button-container{
    position: relative;
    left: -170px;
    justify-content: flex-start;
}

.button-container button{
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;

    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
    
.sec6 h2{
    background-color: #FF5400;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    width: 300px;
    position: absolute;
    margin-left: 250px;
    margin-top: 250px;
    transform: rotate(-30deg);

}
    
  
    


footer{
    padding-top: 50px;
    background: rgba(19, 19, 24, 0.05);
    
    margin: 0px 0.001%;
    
    background-size: cover;

    right: 500px;

}

.logo-foot{

   display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 10px;
    position: relative;
    right: 170px;
    flex-wrap: wrap;
    padding: 30px 0;
    
}

footer hr{
    width: 872px;
    height: 1px;
}
footer p, footer h5{
    justify-items: center;
}

.logo-foot h2{
    display: flex;
    flex-direction: row;
    gap: 10px;


}

@media screen {
    
}